<div>
  <div><p>USUARIO: {{user.email}}</p>
    <p>ROL: {{user.rol}}</p>
  </div>
  <form action="./{{user._id}}" method="GET">
    <button >CAMBIAR ROL</button>
  </form>

</div>

<script src="/js/changeRol.js"></script>