<div class="container">
    <h1 class="mt-4">Bienvenido al chat</h1>
    
    <form action="/messages" method="POST">
        <div class="form-group">
            <input type="text" class="form-control" name="user" placeholder="Ingresá tu correo" >
        </div>
        <div class="form-group">
            <input type="text" class="form-control" name="message" placeholder="Mensaje" >
        </div>
        <button type="submit" class="btn btn-success">
            Enviar
        </button>
        <a href="/api/products" class="btn btn-danger">
            Volver a Productos
        </a>
        <hr>
    </form>
    <div>
        {{#each messages}}
            <div>
                <h5>
                    {{user}} send:
                </h5>
                <strong>
                    {{message}}
                </strong>
                <a href="/messages/{{_id}}" class="btn">
                    ❌
                </a>
                <hr>
            </div>
        {{/each}}
    </div>
</div>