<div>
  <section>
    <h2>TEST LOGGER</h2>
    <div>
      <form action="/loggerTest/debug" method="GET"><button
        >DEBUG</button></form>
      <form action="/loggerTest/http" method="GET"><button
        >HTTP</button></form>
      <form action="/loggerTest/info" method="GET"><button
        >INFO</button></form>
      <form action="/loggerTest/warning" method="GET"><button
        >WARNING</button></form>
      <form action="/loggerTest/error" method="GET"><button
        >ERROR</button></form>
      <form action="/loggerTest/fatal" method="GET"><button
        >FATAL</button></form>
    </div>
    <p>{{text}}</p>
  </section>
</div>