<div>
  <section >
    <h2>MOCKING TEST</h2>
    <div >
      {{#each products}}
        <div >
          <h3>{{this.title}}</h3>
          <p>$ {{this.price}}</p>
        </div>
      {{/each}}
    </div>
  </section>
</div>